article > p > a.btn:after, article h3 a span {
    color: #000;
}

article div[itemprop="articleBody"] p {
    word-break: break-word;
}

article footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

article.blog-list footer p {
    text-transform: uppercase;
}

article footer .date > i {
    margin-right: 10px;
}

article footer .date > i:after {
    content: "|";
    padding-left: 10px;
    color: #ccc;
}

.blog-tab-design-c {
    margin-top: 20px;
}

.blog-tab-design-c ul {
    border: none;
    margin: auto;
    display: table;
}

.blog-tab-design-c ul.category-tab li.active a,
.blog-tab-design-c ul.category-tab li.active a:hover,
.blog-tab-design-c ul.category-tab li.active a:focus,
.blog-tab-design-c ul.category-tab li.active a:active,
.blog-tab-design-c ul.category-tab li a:hover,
.blog-tab-design-c ul.category-tab li a:focus,
.blog-tab-design-c ul.category-tab li a:active {
    border-bottom: 1px solid #333;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background: transparent;
}

.blog-tab-design-c ul.category-tab li a {
    padding: 0 0 5px;
    font-size: 16px;
    text-transform: uppercase;
    border-color: transparent;
    letter-spacing: 1px;
}

.blog-tab-design-c ul li {
    margin: 0 20px;
}

.blog-tab-design-c .tab-content {
    margin-top: 60px;
}

.blog-tab-design-c .tab-content article > *:not(figure) {
    margin-left: 8%;
    padding-right: 15px;
}

.blog-tab-design-c .tab-content .blog-list {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    padding-bottom: 50px;
    margin: 0 15px 50px;
    width: 30%;
    border-bottom: 1px solid #ddd;
}

.blog-tab-design-c .tab-content .blog-list:hover,
.blog-tab-design-c .tab-content .blog-list:focus,
.blog-tab-design-c .tab-content .blog-list:active {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-bottom-color: transparent;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
}

.blog-tab-design-c .tab-content .blog-list figure img {
    padding: 0;
    border-radius: 0;
    border: none;
    min-height: 208px;
    object-fit: cover;
}

.blog-tab-design-c .tab-content .tab-pane {
    display: flex;
    flex-flow: row wrap;
}

.blog-tab-design-c .tab-content article > p {
    position: absolute;
    bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 8%;
    left: 0;
}

@media  (max-width: 991px) {
    .blog-tab-design-c .tab-content .blog-list {
        width: 45%;
        float: left;
    }
}

@media  (max-width: 767px) {
    .blog-tab-design-c .tab-content .blog-list {
        width: 100%;
        float: none;
        margin: 0 auto 30px;
    }

    .blog-tab-design-c .tab-content .blog-list {
        margin-bottom: 50px;
    }

    .blog-tab-design-c ul li {
        float: none;
        width: 100%;
        margin: 10px 0 15px;
    }

    .blog-tab-design-c ul {
        display: block;
    }

    .blog-tab-design-c .tab-content {
        margin-top: 30px;
    }

    .group-blog .content {
        margin-top: 0;
    }
}
